:root {
    --primary: white;
    --secondary: rgba(255,255,255, 1);
    --accent: #ffa31a;
  } 
* {
    margin: 0;
    padding: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    box-sizing: border-box;
    /* background-color: #ffeead; */
}
body .bg {
    min-height: 100vh;
    background-image: url(./images/bdg-img2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body .container {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    min-height: 10vh;
    padding: 1rem;
    padding-top: 2rem;
    background: rgba(0, 0, 0, 0.2);
    /* position: fixed; */
}
header .logo {
    color: var(--primary);
    font-family: sans-serif;
    cursor: pointer;
    /* margin-left: 5rem; */
    font-size: 1.6rem;
    /* margin-top: 0; */
    text-transform: uppercase;
    /* line-height: 70px; */
    letter-spacing: 4px;
    /* border: 1px solid; */
}
header .logo span {
    color: var(--accent);
    font-family: serif;
    display: block;
    /* border: 1px solid; */
    
    font-size: 2.2rem;

}
.icon {
    color: var(--primary);
    cursor: pointer;
}
header nav {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    /* justify-content: end; */
    /* border: 1px solid; */
}

header nav ul {
    display: flex;
    flex-direction: column;
    display: none;
}

header nav ul li {
    list-style: none;
    padding-bottom: 2rem;
}

header nav ul li a {
    text-decoration: none;
    color: var(--primary);
    font-size: 1.1rem;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 1px;
    padding: 0.6rem;
    transition: 0.4s;
    border-radius: 10px;
}
header nav ul li a:hover, header nav ul li .active {
    background-color: var(--secondary);
    color: black;
    transform: translate(0.4s)
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--primary);
    /* width: 100%; */
    min-height: 70vh;
    /* border: 1px solid; */
    padding: 1rem;
}
main .text h1 {
    font-size: 4.5rem;
    font-weight: bolder;
    font-family: sans-serif;
    /* border: 1px solid; */
    
    /* background-color: rgba(0, 0, 0, 0.3); */
}
main .text .btns {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    /* border: 1px solid red; */
    
}

main .text .btns a {
    padding: 1rem 0;
    font-size: 1rem;
    border-radius: 1.6rem;
    text-decoration: none;
    border: 3px solid var(--accent);
    text-align: center;
    width: 9rem;
    background: transparent;
    color: var(--accent);
    font-weight: bolder;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
    font-family: sans-serif;
}
main .text .btns a span {
    background: var(--accent);
    transition: 0.5s;
    height: 100%;
    width: 0%;    
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    color: white;
}
main .text .btns a:hover span {
    width: 100%;
    /* border: 9px solid red; */
}
main .text .btns a:hover {
    /* transition: 0.5s; */
    border: 3px solid var(--accent);
    color: var(--primary);
    color: white;
    
    /* border: none; */
}
.demo-page {
    color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding-left: 1rem;
    /* border: 1px solid; */
    min-height: 70vh;
    display: none;
}

@media only screen and (min-width: 768px) {
    .icon {
        display: none;
    }
    header {
        /* border: 1px solid red; */
        padding-left: 3rem;
        padding-right: 3rem;
    }
    header nav ul {
        display: flex;
        flex-direction: row;
        
    }
    header .logo span {
        display: inline;
        /* border: 1px solid; */
        
        font-size: 2.2rem;
    
    }
    header nav ul li a {
        margin-left: 1rem;
    }
    main {
        align-items: center;
        padding: 3rem;
    }
    main .text .btns {
        justify-content: space-around;
    }
}

